.user {
  img {
    width: 500px;
    margin-bottom: 90px;
    margin-top: 30px;
  }
  .contenedor {
    img {
      width: 300px;
      height: 250px;
      display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
      margin: 0;
    }
  }
}
