.user {

    img{
        width: 500px;
        margin-bottom: 90px;;
    }
    .contenedor{

        img{
            width: 300px;
            height: 250px;
            
        }

        
    }
}